/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */

#middleContainer h1 {
    font-size: 20.5px;
}
#middleContainer h1,#middleContainer  h2,#middleContainer  h3 {
    line-height: 0;
}


#logo a {
    background-color: #ECF601;
    left: -20px;
    margin: 0;
    padding-left: 20px;
    padding-top: 3px;
    position: relative;
    border-bottom-right-radius:1em;
}


#topContainer  { margin-bottom: 1px; }
#topContainer  { border-bottom:3px solid #ECF601 ;border-top:3px solid #ECF601
}
#middleContainer   { border-top:3px solid #322FCE }

body .navbar .brand     { padding: 0; }
.navbar .nav.last       { float: right;}


footer   { left: 0}
footer a {color: #999999;}
footer a:hover { background: none; color: #000000;}
footer p { color: #999; text-align: center}
footer {
    background-color: #FFFFFF;
    bottom: 0;
    clear: both;
    position: fixed;
    text-align: center;
    width: 99%;
    z-index: 999;
}

#middleContainer .simbolo { width: 16px; height: 16px ;display: block;}
.simbolo.icon-account-1  {background-image: url("/assets/fax.png"); background-repeat:no-repeat;}
.simbolo.icon-account-2  { background-image: url("/assets/mail.png"); background-repeat:no-repeat; }


#loading { position: absolute; top:0; left: 0; width: 100%; height: 100%; z-index: 1000; background-color: #ffffff;  opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
    background-image: url("/assets/loading.gif"); background-repeat:no-repeat;
    background-position: center center;
}

.stato_2 { background-color: #ffdfdc;}
div.alert { margin: 0}
.fullScreen.modal.fade.in { top:25px;}
.fullScreen.modal {
    /*
    width: 80%;
    margin-left:-40%;
    height: 80%;
    margin-left:-100px;    */
    left: 25px; top:25px;
    margin-left: 0;
    margin-top:0;


}
.fullScreen.modal .modal-body {
    max-height: none;

}


.table-fixed-header-container {
    position:relative;
    height:800px;
    padding-top:30px;
    margin-bottom: 10px;
}

.table-fixed-header-inner {
    overflow:auto;
    height:100%;
}

.table-fixed-header-inner table {
    overflow: auto;
}

.table-fixed-header-inner th {
    padding: 0 5px !important;
}

.table-fixed-header-inner th > div {
    position:absolute;
    top:0;
}

.modal {
    width: 100%;
}