
$col1: #faa732;
$col2: #4bb1cf;
$col3: #5eb95e;
$col4: #dd514c;

$col1a: lighten($col1, 10%);
$col1b: darken($col1, 10%);

$col2a: lighten($col2, 10%);
$col2b: darken($col2, 10%);

$col3a: lighten($col3, 10%);
$col3b: darken($col3, 10%);


$col4a: lighten($col4, 10%);
$col4b: darken($col4, 10%);

$colSelectedRow: rgba(255, 210, 36, 0.63);
$colSelectedRowLight: lighten($colSelectedRow, 10%);
$colSelectedRowDark: darken($colSelectedRow, 10%);

$colsorting: #eee;

$colHighlight: #ffe;

.tooltip-inner {
  background-color: #999;
}

table.dataTable tr.odd td.sorting_1 {
  background-color: $colsorting !important;
}

table.dataTable tr.even td.sorting_1 {
  background-color: lighten($colsorting, 5%) !important;
}

table.dataTable tr.even.row_highlight td {
  background-color: $colHighlight !important;
}
table.dataTable tr.odd.row_highlight td {
  background-color: $colHighlight !important;
}

table.dataTable td {
  vertical-align: middle;
}

table.dataTable tr {
  height: 36px;
}


table.dataTable tr.row_selected td {
  background-color: $colSelectedRow;
  background-image: -moz-linear-gradient(top, $colSelectedRowLight, $colSelectedRowDark) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($colSelectedRowLight), to($colSelectedRowDark)) !important;
  background-image: -webkit-linear-gradient(top, $colSelectedRowLight, $colSelectedRowDark) !important;
  background-image: -o-linear-gradient(top, $colSelectedRowLight, $colSelectedRowDark) !important;
  background-image: linear-gradient(to bottom, $colSelectedRowLight, $colSelectedRowDark) !important;
}

.PRONTO_PER_INVIO {
  background-color: $col1 !important;
  background-image: -moz-linear-gradient(top, $col1a, $col1b) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($col1a), to($col1b)) !important;
  background-image: -webkit-linear-gradient(top, $col1a, $col1b) !important;
  background-image: -o-linear-gradient(top, $col1a, $col1b) !important;
  background-image: linear-gradient(to bottom, $col1a, $col1b) !important;
}

.INVIATO {
  background-color: $col2 !important;
  background-image: -moz-linear-gradient(top, $col2a, $col2b) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($col2a), to($col2b)) !important;
  background-image: -webkit-linear-gradient(top, $col2a, $col2b) !important;
  background-image: -o-linear-gradient(top, $col2a, $col2b) !important;
  background-image: linear-gradient(to bottom, $col2a, $col2b) !important;
}

.CONSEGNATO {
  background-color: $col3 !important;
  background-image: -moz-linear-gradient(top, $col3a, $col3b) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($col3a), to($col3b)) !important;
  background-image: -webkit-linear-gradient(top, $col3a, $col3b) !important;
  background-image: -o-linear-gradient(top, $col3a, $col3b) !important;
  background-image: linear-gradient(to bottom, $col3a, $col3b) !important;
}

.ERRORE {
  background-color: $col4 !important;
  background-image: -moz-linear-gradient(top, $col4a, $col4b) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($col4a), to($col4b)) !important;
  background-image: -webkit-linear-gradient(top, $col4a, $col4b) !important;
  background-image: -o-linear-gradient(top, $col4a, $col4b) !important;
  background-image: linear-gradient(to bottom, $col4a, $col4b) !important;
}
